In [1]:
import pandas as pd
import numpy as np

In [5]:
data={
    "Name":[1,2,3,4,90,7,8]
}

In [6]:
df=pd.DataFrame(data)

In [7]:
df

   Name
0     1
1     2
2     3
3     4
4    90
5     7
6     8

In [8]:
def Function(data):
    Q1=np.quantile(data,0.25)
    Q3=np.quantile(data,0.75)
    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR
    return np.clip(data,lower_bound,upper_bound)

In [9]:
Function(df)

   Name
0     1
1     2
2     3
3     4
4    15
5     7
6     8

In [30]:
data={
    "Name":[1,2,3,4,90,7,8],
    "Gender":['f','m','f','m','f','m','f']
}
df=pd.DataFrame(data)

In [42]:
df

   Name Gender
0     1   None
1     2   None
2     3   None
3     4   None
4    90   None
5     7   None
6     8   None

In [43]:
def convert(data):
    return pd.get_dummies(data,drop_first=True).astype(int)

In [44]:
convert(df['Gender'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [34]:
df

   Name Gender
0     1   None
1     2   None
2     3   None
3     4   None
4    90   None
5     7   None
6     8   None